input.ant-input,
button.ant-btn {
  border-radius: 8px;
}

.ant-select {
  border-radius: 8px;
}

.ant-form-item-control-input-content {
  border-radius: 8px;
}

.input-datepicker {
  border-radius: 8px;
}

.input-datepicker {
  width: 100%;
}

.btn-preview {
  width: 15rem;
}

.tb-form-item {
  .ant-form-item-control-input-content {
    width: 100%;

    .multiple-input {
      .ant-space-item:nth-child(1) {
        width: 100%;
        border: 1px solid red;
        // display: flex;
        // justify-content: space-between;
        // align-items: flex-start;
        // input {
        //   margin-bottom: 0.5rem;
        //   margin-right: 1rem;
        // }
      }
    }
  }
}

.info-icon {
  border-radius: 50%;
  padding: 5px;
  background: #ee2e24;
  margin-left: 0.5rem;
  & > * {
    color: white;
    font-size: 16pt;
    // width: 5px;
    // height: 5px;
  }
  &:hover {
    cursor: pointer;
  }
}
.info-icon-outline {
  border-radius: 50%;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #ee2e24;
  margin-left: 0.5rem;
  & > * {
    color: #ee2e24;
    font-size: 16pt;
    // width: 5px;
    // height: 5px;
  }
  &:hover {
    cursor: pointer;
  }
}

.ant-tooltip {
  min-width: 30rem;
  overflow: hidden;
}

.btn-success {
  background: #6fc476;
  border: 1px solid #6fc476;
  &:hover {
    background: #27ae60;
    border: 1px solid #27ae60;
  }
  &:focus {
    background: #2a8e4c;
    border: 1px solid #2a8e4c;
  }
}
