.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.text-danger {
  color: #EE2E24;
}

.text-general {
  color: #404852;
}

.text-right {
  text-align: right;
}

.helper-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  letter-spacing: .16px;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}