.title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 32px;
  margin: 20px 0;
}

.sub-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -2%;
  margin: 20px 0;
}