.base-layout {
  position: relative;
  .ant-layout-header {
    // padding: 1.5rem 0;
    overflow: hidden;
    background: #FFFFFF;
  }
  .logo {
    padding-top: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: white;
  padding: .5rem 50px;
  overflow: hidden;
  height: auto;
  // height: 80px;

  .input-search {
    .ant-input-affix-wrapper, input {
      border-radius: 5px;
      background: #F2F2F2;
      outline: none;
    }
  }

  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .navbar-menu-item {
      width: 34px;
      height: 34px;
      box-sizing: border-box;
      margin: 0 .5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 80px;
  background: white;
}

.content {
  padding: 90px 200px;
  margin: 0;
  min-height: 100vh;
  // overflow-y: auto;
  // position: relative;
}

.content-page {
  background: white;
  padding: 65px 25px;
  border-radius: 5px;
  backdrop-filter: blur(4px);
  form {
    width: 100%;
  }
}