.auth-layout {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .ant-layout {
    background: #000000;
  }

  .navbar-auth {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #FFFFFF;
    padding: .5rem 50px;
    overflow: hidden;
    height: auto;
    // height: 80px;
  
    .logo-auth {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .btn-signup {
      border: 1px solid #EE2E24;
      font-weight: 600;
      color: #EE2E24;
    }
  
    .navbar-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .navbar-menu-item {
        width: 34px;
        height: 34px;
        box-sizing: border-box;
        margin: 0 .5rem;
      }
    }
  }

  .ant-layout-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .auth-login {
      background: #FFFFFF;
      padding: 1rem;
      border-radius: 8px;
      width: 65%;
      // password
      .ant-input-password {
        border-radius: 5px;
      }
    }
  }
  
}